.hero {
    padding: 24px;

    &__container {
        width: 100%;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 140px 12px 0 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        border-radius: 24px;
        background: RGBA(211, 199, 243, 0.6);
        background: linear-gradient(90deg, rgba(211, 199, 243, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(246, 222, 199, 1) 100%);
        img {
            width: 100%;
            max-width: 1055px;   
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        width: 100%;
        max-width: 797px;

        h1 {
            font-size: clamp(2.125rem, 1.667rem + 2.29vw, 3.5rem);
            color: #000;
        }
    }

    &__desc {
        font-size: 16px;
        color: #00000088;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 24px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    
    &__btn {
        width: max-content;
        padding: 8px 32px;
        background-color: #000;
        border-radius: 32px;
        img {
            width: 100%;
            max-width: 137px;
        }

        @media (max-width: 768px) {
            padding: 6px 16px;
        }
    }

    &__text {
        width: max-content;
        padding: 6px 24px;
        font-size: 12px;
        border: 1px solid #7C69ED;
        color: #7C69ED;
        border-radius: 32px;
    }

}

.slide-in-bottom {
	opacity: 0;
	will-change: transform, opacity;
	animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}