.code {
    padding: 80px 0;
    background-color: #fff;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        padding: 60px 20px;
        border-radius: 32px;
        background: #D193EC;
        background: linear-gradient(168deg, rgba(209, 147, 236, 1) 0%, rgba(124, 105, 237, 1) 41%, rgba(124, 105, 237, 1) 60%, rgba(209, 147, 236, 1) 100%);

        h1 {
            width: 100%;
            max-width: 751px;
            color: #fff;
            font-size: clamp(2.125rem, 1.833rem + 1.46vw, 3rem);
        }

        p {
            width: 100%;
            max-width: 751px;
            font-size: 16px;
            color: #fff;
        }
    }

    &__img {
        width: 100%;
        max-width: 123px;
        margin-top: 24px;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 24px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__btn {
        width: max-content;
        padding: 8px 32px;
        background-color: #000;
        border-radius: 32px;

        img {
            width: 100%;
            max-width: 137px;
        }

        @media (max-width: 768px) {
            padding: 6px 16px;
        }
    }
}