.header {
    position: fixed;
    top: 52px;
    width: 100%;
    z-index: 10;
    padding: 0 16px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 8px 20px;
        border-radius: 32px;
    }

    &__logo {
        width: 85px;
        height: 35px;
        object-fit: cover;
    }

    &__nav {
        display: flex;
        gap: 12px;

        a {
            color: #000;
            font-size: 16px;
            padding: 8px 16px 8px 24px;
            position: relative;
            text-decoration: none;
            outline: none;
        }

        a.active::before {
            content: "";
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #000;
        }
    }

    &__flex-btn {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        width: max-content;
        padding: 15px 20px;
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 32px;
        font-size: 16px;
        outline: none;
        transition: all 0.5s ease;

        &:hover {
            background-color: #fff;
            color: #000;

            &:hover {
                .header__svg {
                    background-color: #000;
                    transform: translate(3px);

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            padding: 8px 12px;
        }

        @media (max-width: 390px) {
            display: none;
        }
    }

    &__btn2 {
        display: none;

        @media (max-width: 390px) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            width: 100%;
            padding: 8px;
            background-color: #000;
            color: #fff;
            border: 1px solid #000;
            border-radius: 32px;
            font-size: 16px;
            outline: none;
            transition: all 0.5s ease;
            margin-top: 40px;

            &:hover {
                background-color: #fff;
                color: #000;

                &:hover {
                    .header__svg2 {
                        background-color: #000;
                        transform: translate(3px);

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    &__svg2 {
        display: none;

        @media (max-width: 390px) {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
        }
    }

    &__svg {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;

        @media (max-width: 768px) {
            display: none;
        }
    }

    /* BURGER */
    &__burger {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        span {
            width: 24px;
            height: 2px;
            background: #000;
            transition: 0.4s ease;
        }

        &.active {
            span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }

    /* MOBILE MENU */
    &__mobile {
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%) translateY(-10px);
        width: 85%;
        background: #fff;
        border-radius: 24px;
        padding: 18px;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s ease;

        nav {
            display: flex;
            flex-direction: column;
            gap: 24px;

            a {
                font-size: 18px;
                color: #000;
                text-decoration: none;
                opacity: 0;
                transform: translateY(6px);
                transition: 0.3s ease;
                outline: none;
            }
        }

        &.open {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
            pointer-events: auto;

            nav a {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    /* ADAPTIVE */
    @media (max-width: 1024px) {
        &__nav {
            display: none;
        }

        &__burger {
            display: flex;
        }
    }
}