.expo {
    padding: 80px 0;
    background-color: #fff;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        width: 100%;
        max-width: 571px;

        h1 {
            font-size: clamp(2.125rem, 1.833rem + 1.46vw, 3rem);
            color: #000;
        }

        p {
            font-size: 16px;
            color: #00000088;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
        align-items: center;
        gap: 24px;
        width: 100%;
        @media (max-width: 768px) { 
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        padding: 32px;
        border-radius: 16px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 1s ease, transform 0.6s ease;

        img {
            width: 100%;
            max-width: 48px;
        }

        h3 {
            font-size: 24px;
            color: #000;
            margin-top: 8px;
        }

        p {
            font-size: 16px;
            color: #00000088;
            margin-bottom: 8px;
        }

         @media (max-width: 768px) {
            padding: 16px;
        }
    }

    &__card-img {
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 55px 85px 0 85px;
        background-color: #B78CF1;
        border-radius: 32px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 1s ease, transform 0.6s ease;

        img {
            width: 100%;
            max-width: 240px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__link {
        color: #000;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 6px;
        width: max-content;
        padding: 12px 20px;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #D193EC;
        background: linear-gradient(124deg, rgba(209, 147, 236, 1) 0%, rgba(124, 105, 237, 1) 29%);
        color: #fff;

        &:hover {
            .expo__svg {
                transform: translate(3px);
            }
        }
    }

    &__svg {
        width: 24px;
        height: 24px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.5s ease;

        svg {
            path {
                fill: #000;
            }
        }
    }
}

.expo__card.show {
    opacity: 1;
    transform: translateY(0);
}

.expo__card-img.show {
    opacity: 1;
    transform: translateY(0);
}   