.footer {
    background-color: #151419;
    padding: 80px 0;
    scroll-behavior: smooth;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            gap: 32px;
        }
    }

    &__logo-flex {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        width: 255px;

        p {
            color: #fff;
            font-size: 16px;
            line-height: 24px;
        }

        img {
            width: 150px;
            height: 40px;
            object-fit: cover;
        }
    }

    &__email-flex {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 20px;
            color: #fff;
        }
    }

    &__inp-flex {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;

        input {
            padding: 12px 20px;
            border-radius: 32px;
            border: none;
            outline: none;
            background-color: #25252A;
            color: #fff;
            width: 250px;

            &::placeholder {
                color: #888888;
            }
        }

        @media (max-width: 425px) {
            flex-direction: column;
            align-items: start;
            gap: 16px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 6px;
        width: max-content;
        padding: 9.5px 20px;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #D193EC;
        background: linear-gradient(124deg, rgba(209, 147, 236, 1) 0%, rgba(124, 105, 237, 1) 29%);
        color: #fff;

        &:hover {
            .footer__svg {
                transform: translate(3px);
            }
        }
    }

    &__svg {
        width: 24px;
        height: 24px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.5s ease;

        svg {
            path {
                fill: #000;
            }
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #ffffff85;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            gap: 32px;
        }
    }

    &__icon-flex {
        width: 284px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 33px;

        p {
            font-size: 16px;
            color: #fff;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__nav-flex {
        display: flex;
        gap: 33px;

        @media (max-width: 425px) {
            flex-direction: column;
            align-items: start;
            gap: 32px;
        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 8px;
        }

        a {
            font-size: 16px;
            font-weight: 200;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &__location,
    &__email {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

}